POSTGRES_DB=order_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5434

SERVER_PORT=8083
KAFKA_PORT=9092

JWT_SECRET=your_long_sequence_of_numbers

USER_SERVICE_URL=http://user-service:8081